<div class="mb-3">
    {{ form.image.label_tag }}
    {{ form.image }}
    <hr>
</div>
<label for="title">Title</label>
<div class="error-container" data-error-for="title"></div>
<h2 class="title">{{ form.title }}</h2>
<hr>
<label for="subtitle">Subtitle</label>
<div class="error-container" data-error-for="subtitle"></div>
<h3 style="text-align:left">{{ form.subtitle }}</h3>
<hr>
<label for="relevant_text">>Relevant text</label>
<div class="error-container" data-error-for="relevant_text"></div>
<blockquote class="relevant_text"><p>{{ form.relevant_text }}</p></blockquote>                         
<hr>
<label for="introduction">>Introduction</label>
<div class="error-container" data-error-for="introduction"></div>
<p class="introduction">{{ form.introduction }}</p>                        
<hr>
<div class="error-container" data-error-for="body_text"></div>
<label for="body_text">>Body Text</label>
<p>{{ form.body_text}}</p>
<hr>
<div class="error-container" data-error-for="conclusion"></div>
<label for="conclusion">>Conclusion</label>
<p>{{ form.conclusion}}</p>