{% extends 'partials/base.html' %}
{% block title %}Change Password - Done{% endblock title %}
{% load static %}

{% block content %}
    {% include 'sections/page-title.html' with page_title="Password" page_subtitle="Change - Done" %}

    <section id="password change form" class="password change form">
        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 mb-5">
                    <h3 class="mb-4">Password changed successfully</h3>
                    <p>You can return to your profile by clicking <a href="{% url 'profile_detail' request.user.username %}">here</a>.</p>
                </div>
            </div>
        </div>
    </section>

    {% include 'sections/services-info.html' %}
{% endblock %}
