{% extends 'partials/base.html' %}

{% load static %}
{% load form_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
    {% include 'sections/page-title.html' with page_title="Password" page_subtitle="Change" %}

    <section id="password change form" class="password change form">
        <div class="container">
            <div class="row mt-3">
                <div class="row justify-content-center mt-3">
                    <div class="col-md-6 mb-5">     
                        <form action="" method="post" enctype="multipart/form-data" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            {% csrf_token %}
                            <h3 class="mb-4">Change Password</h3>
                            <p>Please enter your old password for security, then enter the new password twice to verify that you entered it correctly.</p>

                            <div class="form-group">
                                {{form.old_password.errors}}
                                <label for="{{ form.old_password.id_old_password }}" class="mt-3" style="display: block; color: black;">Old Password</label>
                                {{ form.old_password|add_class_and_placeholder:"form-control mt-3,Old Password" }}                                
                            </div>                                                                                                

                            <div class="form-group">
                                {{form.new_password1.errors}}                                
                                <label for="{{ form.new_password1.id_new_password1 }}" class="mt-3" style="display: block; color: black;">New Password</label>
                                {{ form.new_password1|add_class_and_placeholder:"form-control mt-3,New Password" }}                  
                            </div>

                            <div class="form-group">
                                {{form.new_password2.errors}}
                                <label for="{{ form.new_password2.id_new_password2 }}" class="mt-3" style="display: block; color: black;">New Password (Confirm)</label>
                                {{ form.new_password2|add_class_and_placeholder:"form-control mt-3,New Password(Confirm)" }}                  
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block mt-3" style="background: #059652; border-color: #059652" value="Change Password">
                                <a href="{% url 'user_update' request.user.username %}"" class="btn btn-secondary btn-block mt-3" style="text-align: center;">Cancel</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'sections/services-info.html' %}
{% endblock %}
