{% extends 'partials/base.html' %}
{% load static %}
{% load form_tags %}

{% block title %}Reset Password{% endblock title %}

{% block content %}

    {% include 'sections/page-title.html' with page_title="Restore Password" page_subtitle="Restore Password" %}

    <section>
        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 mb-5">                                                      
                    <form action="" method="post">
                        {% csrf_token %}
                        <h3 class="mb-4">Reset Password</h3>
                        <p>Have you forgotten your password? Enter your email address below and we'll email you instructions for setting up a new one.</p>
                        {{ form.email.errors }}
                        <div class="form-group">
                            {{ form.email|add_class_and_placeholder:"form-control mt-3,Enter your email address" }}
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Confirm" style="background: #059652; border-color: #059652">
                        </div>                        
                    </form>
                    <br>
                    <p>Forgot Password? <a href="{% url 'password_reset' %}">Click here</a>.</p>
                    <p>Don't have an account? <a href="{% url 'registration:signup' %}">Register</a></p>
                </div>
            </div>
        </div>            
    </section>

    {% include 'sections/services-info.html' %}

{% endblock content %}
