{% extends 'partials/base.html' %}
{% block title %}Password reset confirm{% endblock title %}
{% load static %}

{% block content %}
    
    {% include 'sections/page-title.html' with page_title="Password reset confirm" page_subtitle="Password reset confirm" %}

    <section> 
        <div class="container" id="login-container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 col-lg-5 mb-5">
                {% if validlink %}
                <form action="" method="post">{% csrf_token %}
                    <h1 class="mb-4">Enter the new password</h1>
                    <p>Please enter your new password twice to verify that you entered it correctly.</p>
                    {{form.new_password1.errors}}
                    <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Enter the new password"></p>
                    {{form.new_password2.errors}}
                    <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repeat the new password"></p>
                    <p><input type="submit" class="btn btn-primary btn-block" value="Change Password" style="background: #059652; border-color: #059652"></p>
                </form>
                {% else %}
                <h1 class="mb-4">Failed password reset</h1>
                <p>The password reset link was invalid, likely because it had been used before. Please request a new password reset <a href="{% url 'password_reset' %}">here</a>.</p>
                {% endif %}
            </div>
            </div>
        </div>
    </section>

    {% include 'sections/services-info.html' %}
{% endblock content %}
