{% extends 'partials/base.html' %}
{% block title %}Password reset done{% endblock title %}
{% load static %}

{% block content %}

    {% include 'sections/page-title.html' with page_title="Password reset done" page_subtitle="Password reset done" %}

    <section> 
        <div class="container" id="login-container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 col-lg-5 mb-5">
                    <h1 class="mb-4">Password reset sent</h1>
                    <hr class="mb-4">
                    <p>We've emailed you password reset instructions if you have an
                         account with the email address you provided. You should receive them shortly.</p>
                    <p>If you don't receive an email, please make sure you entered the email address 
                        you registered with and check your spam folder.</p>
                </div>
            </div>
        </div>
    </section>

    {% include 'sections/services-info.html' %}

{% endblock content %}
