{% extends 'partials/base.html' %}
{% block title %}Profile - {{ request.user.first_name }} {{ request.user.last_name }}{% endblock title %}
{% load static %}

{% block content %}
    {% include 'sections/page-title.html' with page_title="Profile" page_subtitle="Profile" %}
    
    <section id="profile" class="profile section">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <!-- Contenedor principal del perfil -->
                    <div class="row align-items-center">
                        <!-- Columna para la imagen -->
                        <div class="col-md-3 text-center">
                            {% if profile.profile_photo %}
                                <img src="{{ profile.profile_photo.url }}" class="img-fluid img-thumbnail" style="width: 100%; max-width: 150px; height: 150px; object-fit: cover;" alt="Profile Photo">
                            {% else %}                            
                                <img src="{% static 'core/img/registration/no-avatar.jpg' %}" class="img-fluid img-thumbnail" style="width: 100%; max-width: 150px; height: 150px; object-fit: cover;" alt="Profile Photo">
                            {% endif %}
                        </div>
                        <!-- Columna para la información del perfil -->
                        <div class="col-md-9">
                            <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
                            {% if profile.occupation %}
                                <h6>{{ profile.occupation }}</h6>
                            {% endif %}                            
                            <h6>{{ profile.user.email }}</h6>

                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <!-- Redes sociales -->
                                <div class="social-links">
                                    {% if profile.facebook %}
                                        <a href="{{profile.facebook}}" class="btn btn-sm me-2" style="background-color: #1877F2; color: white;">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    {% endif %}

                                    {% if profile.instagram %}
                                        <a href="{{profile.instagram}}" class="btn btn-sm me-2" style="background-color: #E4405F; color: white;">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    {% endif %}

                                    {% if profile.linkedin %}                                
                                        <a href="{{profile.linkedin}}" class="btn btn-outline-info btn-sm me-2">
                                            <i class="bi bi-linkedin"></i>
                                        </a>
                                    {% endif %}
                                    
                                    {% if profile.twitter %}                                
                                        <a href="{{profile.twitter}}" class="btn btn-outline-primary btn-sm me-2">
                                            <i class="bi bi-twitter-x"></i>
                                        </a>
                                    {% endif %}
                                </div>

                                <!-- Contenedor para los botones "Update User" y "Update Profile" -->
                                <div class="d-flex flex-column">
                                    {% if is_owner %}
                                        <!-- Botón de actualización de usuario -->
                                        <a href="{% url 'registration:user_update' request.user.username %}" class="btn btn-info btn-sm mb-2" style="background-color: #6c757d; border-color: #6c757d; color:white;">
                                            Update User
                                        </a>
                                        
                                        <!-- Botón de actualización de perfil -->
                                        <a href="{% url 'registration:profile_update' request.user.username %}" class="btn btn-primary btn-sm" style="background: #059652; border-color: #059652;">
                                            Update Profile
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Espacio adicional para más información -->
                    <div class="row mt-5">
                        <div class="col-12">
                            <h5>Biography</h5>
                            <p>{{profile.bio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <section id="blog-posts-3" class="blog-posts-3 section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="row gy-4">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="mb-0">Last Posts</h5>
                            {% if is_owner %}
                                <a href="{% url 'blog:post_create' %}" class="btn btn-sm" style="background-color: #0d6efd; border-color: #0d6efd; color: white;">
                                    New Post
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% for post in user_posts %}
                            <div class="col-12 mb-4">
                                <article class="d-flex border rounded shadow-sm overflow-hidden">
                                    <!-- Imagen pequeña a la izquierda -->
                                    <div class="flex-shrink-0">
                                        <img src="{{ post.image.url }}" alt="" class="img-fluid" style="width: 180px; height: 120px; object-fit: cover;">
                                    </div>

                                    <!-- Contenido del post a la derecha -->
                                    <div class="p-3 d-flex flex-column justify-content-between w-100">
                                        <div>
                                            <h5 class="mb-1">{{ post.title }}</h5>
                                            <div class="text-muted small mb-2">
                                                <i class="bi bi-calendar-event me-1"></i>                                                
                                                {{ post.created_at|date:"d F Y" }} &nbsp;
                                            </div>
                                        </div>
                                        <form method="POST" action="{% url 'blog:post_delete' post.pk %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                        <div class="text-end">
                                            <a href="{% url 'blog:post-detail' post.id %}" class="btn btn-sm btn-primary" style="background: #059652; border-color: #059652;">Read More <i class="bi bi-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'sections/services-info.html' %}
{% endblock %}