{% extends 'partials/base.html' %}
{% block title %}Profile - {{ request.user.first_name }} {{ request.user.last_name }}{% endblock title %}
{% load static %}

{% block content %}
    {% include 'sections/page-title.html' with page_title="Profile" page_subtitle="Profile" %}
    
    <section id="profile" class="profile section">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <!-- Contenedor principal del perfil -->
                    <div class="row align-items-center">
                        <!-- Columna para la imagen -->
                        <div class="col-md-3 text-center">
                            {% if profile.profile_photo %}
                                <img src="{{ profile.profile_photo.url }}" class="img-fluid img-thumbnail" style="width: 100%; max-width: 150px; height: 150px; object-fit: cover;" alt="Profile Photo">
                            {% else %}                            
                                <img src="{% static 'core/img/registration/no-avatar.jpg' %}" class="img-fluid img-thumbnail" style="width: 100%; max-width: 150px; height: 150px; object-fit: cover;" alt="Profile Photo">
                            {% endif %}
                        </div>
                        <!-- Columna para la información del perfil -->
                        <div class="col-md-9">
                            <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
                            {% if profile.occupation %}
                                <h6>{{ profile.occupation }}</h6>
                            {% endif %}                            
                            <h6>{{ profile.user.email }}</h6>

                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <!-- Redes sociales -->
                                <div class="social-links">
                                    {% if profile.facebook %}
                                        <a href="{{profile.facebook}}" class="btn btn-sm me-2" style="background-color: #1877F2; color: white;">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    {% endif %}

                                    {% if profile.instagram %}
                                        <a href="{{profile.instagram}}" class="btn btn-sm me-2" style="background-color: #E4405F; color: white;">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    {% endif %}

                                    {% if profile.linkedin %}                                
                                        <a href="{{profile.linkedin}}" class="btn btn-outline-info btn-sm me-2">
                                            <i class="bi bi-linkedin"></i>
                                        </a>
                                    {% endif %}
                                    
                                    {% if profile.twitter %}                                
                                        <a href="{{profile.twitter}}" class="btn btn-outline-primary btn-sm me-2">
                                            <i class="bi bi-twitter-x"></i>
                                        </a>
                                    {% endif %}
                                </div>

                                <!-- Contenedor para los botones "Update User" y "Update Profile" -->
                                <div class="d-flex flex-column">
                                    {% if is_owner %}
                                        <!-- Botón de actualización de usuario -->
                                        <a href="{% url 'user_update' request.user.username %}" class="btn btn-info btn-sm mb-2" style="background-color: #6c757d; border-color: #6c757d; color:white;">
                                            Update User
                                        </a>
                                        
                                        <!-- Botón de actualización de perfil -->
                                        <a href="{% url 'profile_update' request.user.username %}" class="btn btn-primary btn-sm" style="background: #059652; border-color: #059652;">
                                            Update Profile
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Espacio adicional para más información -->
                    <div class="row mt-5">
                        <div class="col-12">
                            <h5>Biography</h5>
                            <p>{{profile.bio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="blog-posts-2" class="blog-posts-2 section">
        <div class="container">
            <div class="row gy-4">  <!-- Aquí empieza la fila de Bootstrap -->
                {% for post in user_posts %}
                    <div class="col-lg-4">  <!-- Cada post ocupa un tercio de la fila -->
                        <article class="position-relative h-100">
            
                            <div class="post-img position-relative overflow-hidden">                                
                                <img src="{{ post.image.url }}" class="img-fluid" alt="">                            
                            </div>
            
                            <div class="meta d-flex align-items-end">
                                <span class="post-date"><span>{{ post.published_at|date:"d" }}</span>{{ post.published_at|date:"F" }}</span>
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-person"></i> <span class="ps-2">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                                </div>
                            </div>
            
                            <div class="post-content d-flex flex-column">
                                <h3 class="post-title">{{ post.title }}</h3>
                                <a href="{% url 'post-detail' post.id %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                            </div>
            
                        </article>
                    </div><!-- End post list item --> 
                {% endfor %}
            </div>  <!-- Cierra la fila de los posts -->
        </div>
    </section>

    {% include 'sections/services-info.html' %}
{% endblock %}
