{% extends 'partials/base.html' %}
{% block title %}User - {{ request.user.username }}{% endblock title %}
{% load static %}

{% block content %}
    {% include 'sections/page-title.html' with page_title="User" page_subtitle="Update" %}

    <section id="user" class="user section">
        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 mb-5">
                    <form action="" method="post" enctype="multipart/form-data" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        {% csrf_token %}         
                        <h3 class="mb-4" style="text-align:center">User</h3>
                        <div class="form-group">
                            <label for="id_first_name" class="mt-3">First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            <label for="id_last_name" class="mt-3">Last Name</label>
                            {{ form.last_name }}
                        </div> 
                        <div class="form-group">
                            <label for="id_email" class="mt-3">Email Address</label>
                            {{ form.email }}
                        </div>
                        <p class="mt-3">
                            If you want change password <a href="{% url 'password_change' %}">Click here.</a>
                        </p>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block mt-3" style="background: #059652; border-color: #059652" value="Update">
                            <a href="{% url 'profile_detail' request.user.username %}" class="btn btn-secondary btn-block mt-3" style="text-align: center;">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% include 'sections/services-info.html' %}
{% endblock %}
