.swal2-confirm {
  background-color: #198754 !important;
  border-color: #198754 !important;
  box-shadow: none !important;
}

.swal2-confirm:hover {
  background-color: #157347 !important;
}

.swal2-confirm:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.4) !important;
}

.swal2-cancel {
  background-color: #6c757d !important;
}
