.post-action-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.post-action-buttons > * {
  width: 100%;  
}

.post-action-buttons .btn {
  width: 100%;
  min-height: 20px;
}

.post-action-item,
.post-action-item form {
  height: 100%;
}

.post-card-image {
  width: 240px;
  height: 160px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8f9fa; 
  padding: 6px;              
}

.post-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
