#login-container,
#profile-container,
#post-list-container {
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: #e6e3e3; */
    background-color: #ffffff;
    border: 1px solid #c7c5c5;
    border-radius: 12px;
}

#post-detail-container {
    padding-bottom: 50px;
    background-color: #ffffff;
    border: 1px solid #c7c5c5;
    border-radius: 12px;
}

#post-list-item {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    /* padding-left: 20px;
  padding-right: 20px; */
}