{% extends 'partials/base.html' %}
{% block title %}Update: {{ post.title }}{% endblock %}
{% load static %}

{% block content %}
{% include 'sections/page-title.html' with page_title="Blog" page_subtitle="Update Post" %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <section id="blog-details" class="blog-details section">
        <div class="container">
          <article class="article">
            <div class="content">  
              <form method="POST" enctype="multipart/form-data" id="post-update-form">
                {% csrf_token %}    
                {% if post.image %}
                <div class="post-img mb-3">
                  <img src="{{ post.image.url }}" alt="Imagen actual" class="img-fluid">
                </div>
                {% endif %}
                <div class="mb-3">
                  {{ form.image.label_tag }}
                  {{ form.image }}
                  <hr>
                </div>
                <label>Title</label>
                <h2 class="title">{{ form.title }}</h2>
                <hr>
                <label>Subtitle</label>
                <h3 style="text-align:left">{{ form.subtitle }}</h3>
                <hr>
                <label>Relevant text</label>
                <blockquote class="relevant_text"><p>{{ form.relevant_text }}</p></blockquote>                         
                <hr>
                <label>Introduction</label>
                <p class="introduction">{{ form.introduction }}</p>                        
                <hr>
                <label>Body Text</label>
                <p>{{ form.body_text}}</p>
                <hr>
                <label>Conclusion</label>
                <p>{{ form.conclusion}}</p>        
              </form>
            </div>
            {% comment %} <div class="meta-bottom">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                <li><a href="#">Business</a></li>
              </ul>
              <i class="bi bi-tags"></i>
              <ul class="tags">
                <li><a href="#">Creative</a></li>
              </ul>
            </div> {% endcomment %}

          </article>
        </div>
      </section>
    </div>

    <!-- SIDEBAR -->
    <div class="col-lg-4 sidebar">
      <div class="widgets-container">
        <!-- Blog Author Widget -->
        <div class="blog-author-widget widget-item">
          <div class="d-flex flex-column align-items-center">
            <div class="d-flex align-items-center w-100">            
            <div class="mt-3 w-100 d-flex justify-content-between flex-wrap gap-2">
              <button type="submit" form="post-update-form" class="btn btn-success w-100">Update</button>
              <button type="reset" form="post-update-form" class="btn btn-secondary w-100">Reset</button>              
              <a href="{% url 'registration:profile_detail' request.user.username %}" class="btn btn-danger w-100">Cancel</a>
            </div>
          </div>
        </div>
        <!-- /Blog Author Widget -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
