{% extends 'partials/base.html' %}
{% block title %}Blog - New Post{% endblock title %}
{% load static %}

{% block content %}
{% include 'sections/page-title.html' with page_title="Blog" page_subtitle="New Post" %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <section id="blog-details" class="blog-details section">
                <div class="container">
                <article class="article">
                    <h1>New Post</h1>
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="content">
                        <label>Title</label>
                        <h2 class="title">{{ form.title }}</h2>
                        <hr>
                        <label>Introduction</label>
                        <p class="introduction">{{ form.introduction }}</p>
                        <hr>
                        <label>Relevant text</label>
                        <blockquote class="relevant_text"><p>{{ form.relevant_text }}</p></blockquote>
                        <hr>
                        <label>Subtitle</label>
                        <h3 style="text-align:left">{{ form.subtitle }}</h3>
                        <hr>
                        <label>Body Text</label>
                        <p>{{ form.body_text}}</p>
                        <hr>
                        <label>Conclusion</label>
                        <p>{{ form.conclusion}}</p>
                        <hr>
                        <label>Image</label>
                        {{ form.image }}
                        <hr>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Publish</button>
                    <button type="cancel" class="btn btn-danger mt-3">Cancel</button>
                    </form>
                </article>
                </div>
            </section><!-- /Blog Details Section -->

        </div>  
    </div>
</div>

{% endblock %}