{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Blog - New Post{% endblock title %}

{% block content %}
    {% include 'sections/page-title.html' with page_tite="Blog" page_subtitle="New Post" %}

    <section id="new post" class="new post section"> 
        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 mb-5"> 
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}                        
                        <h3>New Post</h3>
                        <div class="form-group"> 
                            <label for="id_title" class="mt-3">Title</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group"> 
                            <label for="id_subtitle" class="mt-3">Subtitle</label>
                            {{ form.subtitle }}
                        </div>
                        <div class="form-group"> 
                            <label for="id_relevant_text" class="mt-3">Relevant Text</label>
                            {{ form.relevant_text }}
                        </div>
                        <div class="form-group"> 
                            <label for="id_content" class="mt-3">Content</label>
                            {{ form.content }}
                        </div>
                        <div class="form-group">
                            <label for="id_image" class="mt-3">Image</label>
                            {{ form.image }}
                        </div>
                        <br>
                        <div>
                            <input type="submit" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> 

    {% include 'sections/services-info.html' %}

{% endblock content %}
