{% extends 'partials/base.html' %}
{% block title %}{{ post.title }}{% endblock title %}
{% load static %}

{% block content %}
  {% include 'sections/page-title.html' with page_title="Blog" page_subtitle="Post" %}

  <div class="container">
    <div class="row">
      
      <!-- Blog Content Column -->
      <div class="col-lg-8">
        
        <!-- Blog Details Section -->
        <section id="blog-details" class="blog-details section">
          <article class="article">

            <!-- Post Image -->
            <div class="post-img">
              <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
            </div>

            <!-- Post Title -->
            <h2 class="title">{{ post.title }}</h2>

            <!-- Post Meta -->
            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center">
                  <i class="bi bi-person"></i>
                  <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
                </li>
                <li class="d-flex align-items-center">
                  <i class="bi bi-clock"></i>
                  <a href="#">
                    <time datetime="{{ post.updated_at|date:'Y-m-d' }}">
                      {{ post.updated_at|date:"M j, Y" }}
                    </time>
                  </a>
                </li>
                {# <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i><a href="#">12 Comments</a></li> #}
              </ul>
            </div>
            <!-- End meta top -->

            <!-- Post Content -->
            <div class="content">
              {{ post.formatted_content|safe }}
            </div>
            <!-- End post content -->

            <!-- Post Categories and Tags -->
            <div class="meta-bottom">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                <li><a href="#">Business</a></li>
              </ul>

              <i class="bi bi-tags"></i>
              <ul class="tags">
                <li><a href="#">Creative</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>
            </div>
            <!-- End meta bottom -->

          </article>
        </section>
        <!-- /Blog Details Section -->

        <!-- Blog Comments Section -->
        <section id="blog-comments" class="blog-comments section">          
          <h4 class="comments-count">
              {{ comments.count }} 
              {% if comments.count == 1 %}
                  Comment
              {% else %}
                  Comments
              {% endif %}
          </h4>

          {% for comment in comments %}
          <div id="comment-{{ forloop.counter }}" class="comment">
            <div class="d-flex">
              <div class="comment-img">
                <img src="{{ comment.author.profile.profile_photo.url }}" alt="">
              </div>
              <div>
                <h5>
                  <a href="">{{ comment.author.get_full_name|default:comment.author.username }}</a>
                  <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a>
                </h5>
                <time datetime="{{ comment.created|date:'Y-m-d' }}">{{ comment.created|date:"M j, Y" }}</time>
                <p>{{ comment.content }}</p>
              </div>
            </div>
          </div>
          {% empty %}
            <p>No comments yet.</p>
          {% endfor %}
        </section>
          <!-- End comment #1 -->
      </div>
      <!-- End col-lg-8 -->

      <!-- Sidebar Column -->
      <div class="col-lg-4 sidebar">
        <div class="widgets-container">

          <!-- Blog Author Widget -->
          <div class="blog-author-widget widget-item">
            <div class="d-flex flex-column align-items-center">
              <div class="d-flex align-items-center w-100">
                <img src="{{ post.author.profile.profile_photo.url }}" class="rounded-circle flex-shrink-0" alt="">
                <div>
                  <h4>{{ post.author.first_name }} {{ post.author.last_name }}</h4>
                  <div class="social-links">
                    <h6>{{ post.author.profile.occupation }}</h6>
                    <h6>{{ post.author.email }}</h6>
                    {% if post.author.profile.facebook %}
                    <a href="{{ post.author.profile.facebook }}"><i class="bi bi-facebook"></i></a>
                    {% endif %}
                    {% if post.author.profile.instagram %}
                    <a href="{{ post.author.profile.instagram }}"><i class="bi bi-instagram"></i></a>
                    {% endif %}
                    {% if post.author.profile.linkedin %}
                    <a href="{{ post.author.profile.linkedin }}"><i class="bi bi-linkedin"></i></a>
                    {% endif %}
                    {% if post.author.profile.twitter %}
                    <a href="{{ post.author.profile.twitter }}"><i class="bi bi-twitter-x"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
              <p>{{ post.author.profile.bio }}</p>
            </div>
          </div>
          <!-- /Blog Author Widget -->

        </div>
      </div>
      <!-- End Sidebar -->

    </div>
  </div>

  {% include 'sections/services-info.html' %}

{% endblock content %}
