
{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Blog - Update Post{% endblock title %}

{% block content %}
    {% include 'sections/page-title.html' with page_tite="Blog" page_subtitle="New Post" %}

    <section id="update post" class="update post section"> 
        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 mb-5">             
                    <form action="" method="post" enctype="multipart/form-data" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        {% csrf_token %}                        
                        <h3>Update Post</h3>
                        <div class="form-group"> 
                            <label for="id_title" class="mt-3">Title</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group"> 
                            <label for="id_subtitle" class="mt-3">Subtitle</label>
                            {{ form.subtitle }}
                        </div>
                        <div class="form-group"> 
                            <label for="id_relevant_text" class="mt-3">Relevant Text</label>
                            {{ form.relevant_text }}
                        </div>
                        <div class="form-group"> 
                            <label for="id_content" class="mt-3">Content</label>
                            {{ form.content }}
                        </div>
                        <div class="form-group">
                            <label for="id_image" class="mt-3">Image</label>
                            {{ form.image }}
                        </div>
                        <br>
                        <div>
                            <input type="submit" class="btn btn-primary btn-block mt-3" style="background: #059652; border-color: #059652" value="Save">
                            <a href="{% url 'registration:profile_detail' request.user.username %}" class="btn btn-secondary btn-block mt-3" style="text-align: center;">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> 

    {% include 'sections/services-info.html' %}

{% endblock content %}
