{% extends 'partials/base.html' %}
{% block title %}{{ post.title }}{% endblock title %}
{% load static %}

{% block content %}
{% include 'sections/page-title.html' with page_title="Blog" page_subtitle="Post" %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      {% comment %} <section id="post-detail" class="post-detail section"> {% endcomment %}
        <section id="blog-details" class="blog-details section">
          <div class="container">
            <article class="article">

              <div class="post-img">
                <img src="{{ post.image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{ post.title }}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">
                      {{ user.first_name }} {{ user.last_name }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time
                        datetime="2020-01-01">{{ post.updated_at|date:"M j, Y" }}</time></a></li>
                  {% comment %} este li corresponde a la cantidad de comentarios de un post {% endcomment %}
                  {% comment %} <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                      href="blog-details.html">12 Comments</a></li>  {% endcomment %}
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                {{ post.formatted_content|safe }}
              </div><!-- End post content -->

              <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  <li><a href="#">Business</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div><!-- End meta bottom -->

            </article>
          </div>
        </section><!-- /Blog Details Section -->

        <!-- Blog Comments Section -->



        <!-- /Blog Comments Section -->

    </div>

    <div class="col-lg-4 sidebar">
      <div class="widgets-container">

        <!-- Blog Author Widget -->
        <div class="blog-author-widget widget-item">

          <div class="d-flex flex-column align-items-center">
            <div class="d-flex align-items-center w-100">
              <img src="{{ post.author.profile.profile_photo.url }}" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>{{ post.author.first_name }} {{ post.author.last_name }}</h4>
                <div class="social-links">
                  <h6>{{ post.author.profile.occupation }}</h6>
                  <h6>{{ post.author.email }}</h6>
                  {% if post.author.profile.facebook %}
                  <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                  {% endif %}
                  {% if post.author.profile.instagram %}
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  {% endif %}
                  {% if post.author.profile.linkedin %}
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                  {% endif %}
                  {% if post.author.profile.twitter %}
                  <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                  {% endif %}
                </div>

              </div>
            </div>
            <p>
              {{ post.author.profile.bio }}
            </p>
          </div>

        </div><!--/Blog Author Widget -->

      </div>
    </div>
  </div>
</div>

{% endblock %}